{% extends "base.html" %}


{% block title %}Codementor Integrator{% endblock %}

{% block content %}
    
    <h3>What is Codementor Integrator?</h3>
    
    <p>
        Codementor Integrator makes it easier to manage your Codementor Sessions on your Google Calendar.
    </p>
    <p>
        You can set your Codementor webhook URL to your Integrator API URL and it will add your sessions
        to Google Calendar for you. The integrator also provides a form to bulk add sessions to Google Calendar.
    </p>
    <p>
        Codementor Integrator is not affiliated with any other organization, nor does it share your data.
        You can delete your account at any time.
    </p>
    
{% endblock %}