{% extends "base.html" %}


{% block title %}Codementor Integrator Privacy Policy{% endblock %}

{% block content %}
    
    <h3>Codementor Integrator Privacy Policy</h3>
    
    <h5>Collection of Information</h5>
    <p>
        Codementor Integrator handles webhooks from Codementor and adds events to Google Calendar.
        It stores the raw webhook data and the data for the Google Calendar events it creates.
    </p>
    <p>
        Codementor Integrator also provides an option to add sets of events to Google Calendar.
        It accesses the list of calendars available on Google Calendar.
    </p>
    <p>
        No information is shared with other entities.
    </p>
    
{% endblock %}