{% extends "base.html" %}

{% load tz %}


{% block title %}Sessions{% endblock %}

{% block content %}
    
    <h3>Sessions</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Client</th>
      <th scope="col">Status</th>
      <th scope="col">Session Time</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
  {% timezone user_timezone %}
    {% for object in object_list %}
    <tr>
    	<td>
            <a href="{% url 'update_session' pk=object.pk %}">
            {{ object.event_name }}
            </a>
        </td>
        <td>
            {{ object.get_mentee_name }}
        </td>
        <td>
            {{ object.get_status }}
        </td>
        <td>
            {{ object.get_appointment_time }}
        </td>
        <td>
            {{ object.created_at }}
        </td>
	</tr>
    {% endfor %}
  {% endtimezone %}
</tbody>
</table>

{% endblock %}